body {
  text-align: center;
  font-family: "Cormorant Garamond", serif !important;
  background: linear-gradient(
    90deg,
    rgba(0, 48, 87, 1) 0%,
    rgb(207, 207, 207) 48%,
    rgba(0, 48, 87, 1) 100%
  );
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

.nav-top {
  background-image: radial-gradient(
    farthest-side at 800px 0px,
    rgb(68, 68, 68),
    rgb(0, 0, 0)
  );
}

@media (min-width: 1200px) {
  #navbarSupportedContent {
    justify-content: flex-end !important;
  }
}

/* ICONS  */

.circle-icon {
  background: rgb(48, 48, 48);
  color: rgb(185, 180, 180);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
}

/* BLACKBAR */

.bg-black {
  background-color: black;
}

.bg-black div h4 {
  color: rgb(163, 163, 163);
  font-size: 1.8rem;
}

/* SHOP SMALL RIGHT COLUMN */

aside.right-sm-column {
  background-image: linear-gradient(
    to bottom,
    rgb(231, 231, 231),
    rgb(254, 254, 254)
  );
  padding-left: 2rem !important;
  padding-top: 2rem !important;
}

aside.right-sm-column a {
  color: rgb(59, 144, 179);
}

aside.right-sm-column p {
  font-size: 0.9rem;
}

/* SPONSORS */

.sponsors-section {
  padding: 0 2rem !important;
}

.sponsors {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

@media (min-width: 768px) {
  .sponsors {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .sponsors {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .sponsors {
    grid-template-columns: repeat(6, 1fr);
  }
}

.sponsor-img {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  display: flex;
}

.sponsor {
  border: rgb(240, 236, 236) solid 0.25rem;
}

/* NAVBAR */

.nav-item a {
  color: white;
  font-size: 0.8rem;
  padding: 0 0.313rem;
}

.title {
  font-size: 2em;
  font-weight: 100;
}

@media (max-width: 500px) {
  .title {
    font-size: 4vw;
  }

  .subtitle {
    font-size: 2vw;
  }
}

.subtitle {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(202, 199, 199);
  letter-spacing: 0.04em;
}

/* SEARCH BAR */

.wrapper-toggler {
  position: relative;
  display: flex;
}

.search {
  border: 1px solid grey;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
  font-size: 0.8em;
  height: 1.5em;
  width: 10em;
}

.search-icon {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 14px;
  color: rgb(119, 118, 118);
  font-size: 0.8em;
}

@media (min-width: 1200px) {
  nav div div.search-box {
    margin-bottom: 20px !important;
    margin-top: -10px !important;
    margin-right: -8px !important;
  }
}

@media (min-width: 1600px) {
  nav div div.search-box {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
  }
}

/* styles */
.gray {
  color: rgb(163, 163, 163);
}

.lgh-gray {
  color: rgb(92, 92, 92);
}

.text-color-100 {
  color: rgb(100, 100, 100);
}

/* FLICKR */

.flickr-container {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.flickr-foto {
  object-fit: none;
  object-position: center;
  height: 5rem;
  width: 5rem;
}

/* .navbar {
    background-color: transparent !important;
} */

/* ARTICLES */

.articles {
  padding: 2rem !important;
}

.card-art {
  flex-direction: row !important;
  width: 100%;
  border-style: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid !important;
  border-image-slice: 15% !important;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 240, 240, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  word-break: break-word;
  font-size: 0.9rem;
  hyphens: auto;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.card-img-top {
  border: rgb(230, 230, 230) solid 1px;
  width: 150px !important;
  height: 150px;
  background-color: rgb(233, 233, 233);
  padding: 4px;
  object-fit: cover;
}

.card-subtitle {
  color: rgb(147, 187, 208);
  font-size: smaller;
  margin-top: 0rem !important;
}

.card-body {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.card-body a {
  background: linear-gradient(
    0deg,
    rgba(65, 129, 155, 1) 0%,
    rgba(86, 170, 205, 1) 100%
  );
  color: rgb(194, 202, 206);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 0.2rem 2rem !important;
  font-size: 0.8rem;
  border-radius: 0.1rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 0.7rem;
}

#page {
  /* margin-right: -78px; */
  position: relative;
  display: block;
  color: rgb(193, 193, 193) !important;
  text-decoration: none;
  background-color: rgb(238, 238, 238) !important;
  /* border: 1px solid #dee2e6; */
  padding: 0.25rem 0.75rem;
  margin-right: 5px;
}

.page-count-move {
  margin-right: -30px !important;
}

.short .card-text {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.short .btn > .label::before {
  content: "Read more";
}

.btn > .label::before {
  content: "Minimize";
}

/* FOOTER */
.footer-font-p {
  font-size: 0.9rem;
}

.footer-bottom {
  padding: 2rem 2rem !important;
}

/* MARK HIGHLIGHT */

mark {
  background: orange;
  color: black;
}

/* PAGINATION */

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

/* .pageOfPages {
  background-color: rgb(238, 238, 238) !important;
  color: rgb(193, 193, 193) !important;
  border: none !important;
  margin-right: 5px;
  padding: 0.25rem 0.75rem !important;
  border-radius: 0 !important;
  margin-bottom: 1rem;
} */

.pagenumbers button {
  background-color: rgb(238, 238, 238) !important;
  color: rgb(193, 193, 193) !important;
  border: none !important;
  margin-right: 5px;
  padding: 0.25rem 0.75rem !important;
  border-radius: 0 !important;
  margin-bottom: 0.5rem;
}

.pagenumbers button.active {
  background-color: rgb(193, 193, 193) !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
}
